.InputPhone {
    width: 240px !important;

    .ant-select-item-option-content {
        font-size: 12px;
        text-align: left;

        img {
            float: left;
            margin: 4px 10px 0 0;
        }
    }

}